body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    text-align: center;
}

.form-group {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px; /* Ajout d'espace entre les éléments */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.form-control {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.custom-btn {
    background-color: #003366; 
    color: #ffffff; /* Texte en blanc */
    border: none;
    border-radius: 8px; /* Coins arrondis */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.custom-btn:hover {
    background-color: #002244; /* Teinte plus foncée au survol */
}

.custom-btn:focus {
    outline: none; /* Supprime le focus par défaut */
}

.custom-file-input {
    display: none; /* Masque le champ de fichier par défaut */
}

.import-export-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

header, footer {
    background-color: #003366;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header a, footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}
