.alumni-import-export .container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alumni-import-export .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.alumni-import-export .col-md-6 {
    flex: 1;
    max-width: 45%;
}

.alumni-import-export .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.alumni-import-export .form-group-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.alumni-import-export .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.alumni-import-export .form-control {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    margin-top: 20px;
}

.alumni-import-export .custom-btn {
    background-color: #003366;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.alumni-import-export .custom-btn:focus {
    outline: none;
}

.alumni-import-export .custom-file-input {
    display: none;
}

.alumni-import-export .custom-btn-validate {
    background-color:  #003366;
    color: white;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alumni-import-export .import-export-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.export-section, .import-section {
    padding: 20px;
    border: 1px solid  #002855;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ant-btn{
    border: 1px solid black;
    margin-top: 15px;
}
