footer {
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    background-color: #002855;
    color: #ffffff;
    padding: 20px 0;
    position: relative; 
    margin-top: 50px;
}
