.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002855;
    padding: 10px;
}

.header-right,
.header-left {
    display: flex;
    align-items: center;
}

.header .navbar-brand,
.header .nav-link,
.header .btn {
    color: #ffffff;
}

.header .btn {
    background-color: #ffffff;
    color: #002855;
}

.header .navbar-brand img {
    max-height: 120px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.header .navbar-brand {
    margin-right: 20px;
}