.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002855;
    padding: 10px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left .navbar-brand,
.header-right .nav-link,
.header-right .btn {
    color: #ffffff;
}

.header-right .btn {
    background-color: #ffffff;
    color: #002855;
}

.header-left .navbar-brand img {
    max-height: 120px;
    margin: -15px 0;
}

.header-left .navbar-search {
    width: 300px;
    margin-left: 15px;
    color: #002855;
}