body {
    background-color: #f8f9fa;
    margin: 0;
}

main {
    flex: 1;
}

.text-custom-primary {
    color: #002855 !important;
}

.text-custom-secondary {
    color: #6c757d !important;
}

.card {
    border: 1px solid #002855;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    margin: 0;
}

.card-text {
    margin: 0;
}

.btn-primary {
    background-color: #002855 !important;
    border-color: #002855 !important;
}

.btn-outline-primary {
    border-color: #002855 !important;
    color: #002855 !important;
}

.btn-outline-primary:hover {
    background-color: #002855 !important;
    color: #ffffff !important;
}

label,
.form-control {
    color: #002855 !important;
}

.btn-custom-primary {
    background-color: #002855 !important;
    border-color: #002855 !important;
}
