.danger {
  color: red;
}

.btn-custom-primary {
  background-color: #002855;
  border: 1px solid #002855;
  color: white;
}

.btn-custom-primary:hover {
  background-color: white;
  color: #002855;
  transition: 0.5s ease;
  border: 1px solid #002855;
}

.danger {
  color: red;
}